# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Environment
.env

# Vector Database
vector_db_index/

# Cache
.cache/

# Models
models/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log